@using WebApplication.Models
@model IndexViewModel

@*подключаем все tag-хелперы*@
@addTagHelper "*, WebApplication"

@{
    ViewData["Title"] = "Home Page";
}

<div class="container theme-showcase" role="main">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="text-center"><strong>Список адресов</strong></h2>
            </div>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center col-xs-1">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.IdSort">
                        Id
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("id", Model.FilterViewModel.SelectedId, htmlAttributes: new { @type = "number", @class = "form-control" })
                        </div>
                    </form>
                </th>

                <th class="text-center col-xs-2">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.CountrySort">
                        Страна
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("country", Model.FilterViewModel.SelectedCountry, htmlAttributes: new { @type = "text", @class = "form-control" })
                        </div>
                    </form>
                </th>

                <th class="text-center col-xs-2">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.CitySort">
                        Город
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("city", Model.FilterViewModel.SelectedCity, htmlAttributes: new { @type = "text", @class = "form-control" })
                        </div>
                    </form>
                </th>
                <th class="text-center col-xs-2">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.StereetSort">
                        Улица
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("street", Model.FilterViewModel.SelectedStereet, htmlAttributes: new { @type = "text", @class = "form-control" })
                        </div>
                    </form>
                </th>
                <th class="text-center col-xs-1">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.BuildingNumberSort">
                        Номер дома
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("buildnum", Model.FilterViewModel.SelectedBuildingNumber, htmlAttributes: new { @type = "number", @class = "form-control" })
                        </div>
                    </form>
                </th>

                <th class="text-center col-xs-1">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.PostIDSort">
                        Индекс
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("postid", Model.FilterViewModel.SelectedPostID, htmlAttributes: new { @type = "number", @class = "form-control" })
                        </div>
                    </form>
                </th>

                <th class="text-center col-xs-2">
                    <sort-header action="Index"
                                 up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.DateTimeSort">
                        Дата
                    </sort-header>

                    <form method="get">
                        <div class="form-group">
                            @Html.TextBox("datetime", Model.FilterViewModel.SelectedDateTime, htmlAttributes: new { @type = "datetime-local", @class = "form-control"})
                        </div>
                    </form>
                </th>
            </tr>
        </thead>
        @foreach (Address u in Model.Addresses)
            {
            <tr>
                <td>@u.Id</td>
                <td>@u.Country</td>
                <td>@u.City</td>
                <td>@u.Stereet</td>
                <td>@u.BuildingNumber</td>
                <td>@u.PostID</td>
                <td>@u.DateTime</td>
            </tr>
        }
    </table>
</div>



<div class="page-header">
</div>
<div class="navbar navbar-inverse text-center">
    <page-link page-model="Model.PageViewModel"
               page-action="Index"
               asp-url-street="@(Model.FilterViewModel.SelectedStereet)"
               asp-url-buildnum="@(Model.FilterViewModel.SelectedBuildingNumber)"
               asp-url-id="@(Model.FilterViewModel.SelectedId)"
               asp-url-postid="@(Model.FilterViewModel.SelectedPostID)"
               asp-url-city="@(Model.FilterViewModel.SelectedCity)"
               asp-url-datetime="@(Model.FilterViewModel.SelectedDateTime)"
               asp-url-country="@(Model.FilterViewModel.SelectedCountry)">
    </page-link>


    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-street="@(Model.FilterViewModel.SelectedStereet)"
           asp-route-buildnum="@(Model.FilterViewModel.SelectedBuildingNumber)"
           asp-route-id="@(Model.FilterViewModel.SelectedId)"
           asp-route-postid="@(Model.FilterViewModel.SelectedPostID)"
           asp-route-city="@(Model.FilterViewModel.SelectedCity)"
           asp-route-datetime="@(Model.FilterViewModel.SelectedDateTime)"
           asp-route-country="@(Model.FilterViewModel.SelectedCountry)"
           class="btn btn-default btn"><i class="glyphicon glyphicon-chevron-left"></i>Назад</a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-street="@(Model.FilterViewModel.SelectedStereet)"
           asp-route-buildnum="@(Model.FilterViewModel.SelectedBuildingNumber)"
           asp-route-id="@(Model.FilterViewModel.SelectedId)"
           asp-route-postid="@(Model.FilterViewModel.SelectedPostID)"
           asp-route-city="@(Model.FilterViewModel.SelectedCity)"
           asp-route-datetime="@(Model.FilterViewModel.SelectedDateTime)"
           asp-route-country="@(Model.FilterViewModel.SelectedCountry)"
           class="btn btn-default btn">
            Вперед<i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>


    