@using WebApplication.Models
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>Список пользователей</h1>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Улица: </label>
        @Html.TextBox("street", Model.FilterViewModel.SelectedStereet, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Номер дома: </label>
        @Html.TextBox("buildnum", Model.FilterViewModel.SelectedBuildingNumber, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.StereetSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedStereet)"
               asp-route-company="@(Model.FilterViewModel.SelectedBuildingNumber)">Улица</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.BuildingNumberSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedStereet)"
               asp-route-company="@(Model.FilterViewModel.SelectedBuildingNumber)">Номер дома</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CitySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedStereet)"
               asp-route-company="@(Model.FilterViewModel.SelectedBuildingNumber)">Город</a>
        </th>
    </tr>
    @foreach (Address u in Model.Addresses)
    {
        <tr><td>@u.Stereet</td><td>@u.BuildingNumber</td><td>@u.City</td></tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedStereet)"
       asp-route-company="@(Model.FilterViewModel.SelectedBuildingNumber)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedStereet)"
       asp-route-company="@(Model.FilterViewModel.SelectedBuildingNumber)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}